body,html{
	height: 100%;
	background:url(https://i.ytimg.com/vi/9Dvyy20bI5U/maxresdefault.jpg) no-repeat fixed;
	background-size: cover;
}

#container{
	
	height: 100%;
	display: grid;
	grid-template-rows: 25% minmax(min-content,8%) auto 15%;
}

#header{
	border: 1px solid #F0F8FF;
	opacity: 0.5 ;
	
	
}

#main{
	border: 1px solid #000;
	display: grid;
	grid-template-columns: auto;
}

#main #formulario{
	border: 1px solid #F0F8FF;
	text-align: center;
}

#menu{

	display: inherit;
}
#menu ul{
	display: block;
}