body,html{
	height: 100%;
	background: url(https://i.ytimg.com/vi/9Dvyy20bI5U/maxresdefault.jpg) no-repeat fixed;
	background-size: cover;
}

#container{
	height: 100%;
	display: grid;
	grid-template-rows: minmax(min-content,20%) minmax(min-content,7%) auto ;
	grid-row-gap: 1%;
}

#header{
	border: 1px solid #F0F8FF;
	
}

.main{
	
	display: grid;
	grid-template-columns: 50% 50% 50%;
	grid-column-gap: 1%;
	justify-content: center;
}


.main #formulario{
	border: 1px solid #F0F8FF;
	text-align: center;
	margin: 20px 0 20px 0; 

}

.main #formulario ul li{
		list-style-type: none;
		text-align: center;
		margin-top: 5px; 
}


#menu{
	border: 1px solid #F0F8FF;
	opacity: 0.5 ;
}

#menu ul{
	display: flex;
	list-style: none;
	padding: 0px;
}

#menu ul li{
	margin: 3px;
	padding: 5px;
}

